/* General & Header style */

body {
  background-color: lightgrey;
  width: 80%;
  max-width: 800px;
  margin: 15px auto;
}

header {
  height: 80px;
  background-color: #00d4ff;
  margin-bottom: 20px;
  vertical-align: middle;
}

h1 {
  width: 50%;
  margin-left: 40px;
  position: relative;
  top: 50%;
  transform: translateY(-100%);
  float: left;
}

#login {
  width: 40%;
  height: 100%;
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  overflow: auto;
}

#login button {
  height: 40%;
  width: 30%;
  float: right;
  background: #feda71;
  border: solid 1px #eab551;
  border-bottom: solid 3px #b98a37;
  color: #996633;
  text-shadow: 0 1px 0 #fedd9b;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#login button:hover {
  background: #fec455;
  border: solid 1px #e6a93d;
  border-bottom: solid 3px #b98a37;
  box-shadow: inset 0 0 0 1px #fedb98;
}

#login button:active {
  background: #f9bd4f;
  border: solid 1px #a77f35;
  box-shadow: inset 0 10px 15px 0 #dba646;
}

#container {
  background-color: whitesmoke;
  overflow: auto;
}

/* Flash messages */

#messages {
  width: 60%;
  background-color: cornsilk;
  text-align: center;
  margin: auto;
}

/* Main Page */

.column {
  width: 40%;
  display: inline-block;
  vertical-align: top;
  margin: 30px 0 0 30px;
  padding: 0;
}

h2 {
  margin-top: 0px;
}

ul {
  padding: 0;
}

.catname {
  font-size: 1.5em;
  background-color: yellow;
  margin-bottom: 5px;
  text-align: center;
  font-weight: bold;
}

.item {
  background-color: turquoise;
  margin-bottom: 5px;
  padding-left: 25px;
}

li {
  list-style-type: none;
  padding: 5px 0 5px 0;
}

a {
  text-decoration: none;
  color: black;
}

li a:hover {
  color: #00f;
}

/* Category related pages */

.common {
  margin: 20px auto;
  width: 90%;
}

p a {
  font-weight: bolder;
  text-decoration: underline;
}

form {
  display: inline-block;
  font-weight: bold;
}
