{% extends "header.html" %}

{% block content %}
  <div class="common">
    <p>
      <a href="{{url_for('showCategories')}}">Main Menu</a> /
      {{category.name}}
    </p>

    <h2>{{category.name}}</h2>
    <ul>
    {% for item in items %}
      <li class="item"><a href="{{url_for('showItem', category_id = category.id, item_id=item.id)}}">{{item.title}}</a></li>
    {% endfor %}
    </ul>

    <button><a href="{{url_for('addItem', category_id=category.id)}}">Add a new item</a></button>
    {% if registeredUser %}
      <button><a href="{{url_for('updateCategory', category_id = category.id)}}">Rename category</a></button>
      <button><a href="{{url_for('deleteCategory', category_id = category.id)}}">Delete category</a></button>
    {% endif %}
  </div>
{% endblock %}
