<html>
  <head>
    <title>{{category.name}}</title>
  </head>
  <body>
    <a href="{{url_for('showCategories')}}"><p>Main Menu</p></a>

    <h1>{{category.name}}</h1>
    <a href="{{url_for('updateCategory', category_id = category.id)}}"><p>Rename</p></a>
    <a href="{{url_for('deleteCategory', category_id = category.id)}}"><p>Delete</p></a>
    {% for item in items %}
      <a href="{{url_for('showItem', category_id = category.id, item_id=item.id)}}"><p>{{item.title}}</p></a>
    {% endfor %}
    <a href="{{url_for('addItem', category_id=category.id)}}"><p>Add a new item</p></a>
  </body>
</html>
