<!DOCTYPE html>
<html>
  <head>
    <title>Catalog App</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='favicon.png')}}"/>
    <link rel="stylesheet" type=text/css href="{{url_for('static', filename='style.css')}}">
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <header>
      <h1><a href="{{url_for('showCategories')}}">Catalog App</a></h1>
      <div id="login">
        {%if 'username' not in session %}
        <button><a href="{{url_for('login')}}">Login</a></button>
        {% else %}
        <button><a href="{{url_for('disconnect')}}">Logout</a></button>
        {% endif %}
      </div>
    </header>

    <div id="messages">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>

    <div id="container">
      {% block content %}
      {% endblock %}
    </div>

  </body>
</html>
