<html>
  <head>
    <title>{{item.title}}</title>
  </head>
  <body>
    <h1>Update item info</h1>

    <form method="post">
      Title:<br>
      <input type="text" size="50" name="title" placeholder="{{item.title}}"><br>

      Description:<br>
      <input type="text" size="250" name="description" placeholder="{{item.description}}"><br>

      <input type='submit' value='Update'>
    </form>
    <a href="{{url_for('showItem', category_id=category_id, item_id=item.id)}}"><p>Cancel</p></a>
  </body>
</html>
